@charset "UTF-8";

/* 回答はここに書いてね */

.q2__content {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.images-top {
  float: left;
  margin-right: 20px;
  border-bottom: 10px;
  

}

.q2__content__text {
  border-left: 20px;
  font-size: 18px;
  line-height: 22px;
  padding-right: 20px;
  word-break: break-all;

}

.images-bottom {
  float: right;
  border-bottom: 10px;
  margin-left: 20px;

}

.q2__content__bottom{
  float: bottom;
  margin-right: 20px;
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;

}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/* 回答はここに書いてね */
