@charset "UTF-8";

/* 回答はここに書いてね */
.balloon {
 position: relative;
 margin: 0 auto;
 padding: 20px;
 width: 500px;
 font-size: 16px;
 border-radius: 30px;
 line-height: 16px;
 border: 5px solid #222;
}

.balloon:before{
 content: "";
 position: absolute;
 bottom: -28px;
 left: 11.2%;
 margin-left: -15px;
 border: 12px solid transparent;
 border-top: 16px solid #fff;
 z-index: 2;
}

.balloon:after{
 content: "";
 position: absolute;
 top: 100%;
 left: 10%;
 margin-left: -17px; 
 border: 20px solid transparent;
 border-top: 25px solid #222;
 z-index: 1;
}

.balloon p {
 margin: 0;
 padding: 0;
}
/* 回答はここに書いてね */
