@charset "UTF-8";

/* 回答はここに書いてね */
.q4__main {
  background-color: #eff3f4;
  padding: 20px;
  box-sizing: border-box;
}


.q4__box {
  display: table;
  width: 100%;
  margin-top: 20px;
}

.q4__box:first-child {
  margin-top: 0;
}

.q4__color{
  padding: 20px;
  text-align: center;
  display: table-cell;
}

.orange {
  width: 100px;
  background-color: #fdc8b8;
}

.purple {
  background-color: #e0abd9;
}

.blue {
  background-color: #b6d8ed;
  width: 100px;
}


.yellow {
  background-color: #e5d32e;
}

.red {
  background-color: #ec8f9a;
}

.green {
  background-color: #8fdcad;
  width: 500px;
}


/* 回答はここに書いてね */
