@charset "UTF-8";

/* 回答はここに書いてね */

.q9__scale {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 333px;
  margin: 0 auto;
  cursor: pointer;
}

.q9__scale__image {
  transition: all .5s;
}

.q9__article-data {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
  transition: all .5s;
}

.article-date {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  word-break: break-all;
}

.q9__scale:hover .q9__scale__image{
  transform: scale(1.5);  
}

.q9__scale:hover .q9__article-data{
  bottom: 0;
}



/*    q9-2    */


.loader {
  width:100px;
  height: 100px;
  border: 10px solid #ecf1f2;
  margin: 60px auto;
  border-radius: 50%;
  position: relative;
  border-left: 10px solid #00bcd4;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  100% {
    transform: rotate(360deg);
  }
}




/* 回答はここに書いてね */
