@charset "UTF-8";

/* 回答はここに書いてね */
.food {
  margin: 0 auto;
  text-align: center;  
}

.food table {
  width: 100%;  
}


.food tr:nth-child(odd) {
  background-color: #ecf1f2;
}

.food th {
  padding: 10px;
  border: solid #dedede 1px;
  color: #fff;
  background-color: #2244aa;
}

.food td {
  padding: 10px;
  width: 16.7%;
  border: solid #dedede 1px;
}

.food tr:last-child {
  border-top: dashed #000 2px;
}


/* 回答はここに書いてね */
